{% extends 'base.html.twig' %}

{% block title %}Activité index{% endblock %}

{% block body %}
    <h1>Activité index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.id }}</td>
                <td>{{ activity.description }}</td>
                <td>
                    <a href="{{ path('app_activity_show', {'id': activity.id}) }}">voir</a>
                    <a href="{{ path('app_activity_edit', {'id': activity.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_activity_new') }}" class="btn btn-primary">
    <i class="bi bi-plus"></i> Nouveau
    </a>
    
    {% endblock %}
