{% extends 'base.html.twig' %}

{% block title %}Activité{% endblock %}

{% block body %}
    <h1>Activité</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activity.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ activity.description }}</td>
            </tr>
        </tbody>
    </table>

   <a href="{{ path('app_activity_index') }}">
        <i class="bi bi-chevron-left"></i> &nbsp;Retour à la liste
    </a>

    <a href="{{ path('app_activity_edit', {'id': activity.id}) }}">modifier</a>

    {{ include('activity/_delete_form.html.twig') }}
{% endblock %}
