{% extends 'base.html.twig' %}

{% block title %}Veterinary index{% endblock %}

{% block body %}
    <h1>Liste des Vétérinaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Code Postal</th>
                <th>Ville</th>
                <th>tel</th>
                <th>ImageFileName</th>
                <th>DateCreation</th>
                <th>Catégorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for veterinary in veterinaries %}
            <tr>
                <td>{{ veterinary.id }}</td>
                <td>{{ veterinary.name }}</td>
                <td>{{ veterinary.address }}</td>
                <td>{{ veterinary.postalCode }}</td>
                <td>{{ veterinary.city }}</td>
                <td>{{ veterinary.phonep }}</td>
                <td>{{ veterinary.imageFileName }}</td>
                <td>{{ veterinary.creationDate ? veterinary.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{veterinary.getCategory.getName}}
                <td>
                    <a href="{{ path('app_veterinary_show', {'id': veterinary.id}) }}">Voir</a>
                    <a href="{{ path('app_veterinary_edit', {'id': veterinary.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    
    <a href="{{ path('app_veterinary_new') }}" class="btn btn-primary">
    <i class="bi bi-plus"></i> Nouveau
    </a>
{% endblock %}
