{% extends 'base.html.twig' %}

{% block title %}Veterinary index{% endblock %}

{% block body %}
    <h1>Veterinary index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>PostalCode</th>
                <th>City</th>
                <th>Phonep</th>
                <th>ImageFileName</th>
                <th>CreationDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for veterinary in veterinaries %}
            <tr>
                <td>{{ veterinary.id }}</td>
                <td>{{ veterinary.name }}</td>
                <td>{{ veterinary.address }}</td>
                <td>{{ veterinary.postalCode }}</td>
                <td>{{ veterinary.city }}</td>
                <td>{{ veterinary.phonep }}</td>
                <td>{{ veterinary.imageFileName }}</td>
                <td>{{ veterinary.creationDate ? veterinary.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_veterinary_show', {'id': veterinary.id}) }}">Voir</a>
                    <a href="{{ path('app_veterinary_edit', {'id': veterinary.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_veterinary_new') }}">Nouveau</a>
{% endblock %}
