{% extends 'base.html.twig' %}

{% block title %}Vétérinaires par catégorie{% endblock %}

{% block body %}
    <h1>Recherche de vétérinaires par catégorie</h1>

   
    {{ form_start(form) }}
    <div class="row my-5">
        <div class="col-3">
        
            {{ form_widget(form.category) }}
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">ok</button>
        </div>
    </div>
    {{ form_end(form) }}
   
    {% if form.vars.submitted and veterinaries is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>CP</th>
                    <th>Ville</th>
                </tr>
            </thead>
            <tbody>
                {% for each in veterinaries %}
                    <tr>
                        <td>{{ each.id }}</td>
                        <td>{{ each.name }}</td>
                        <td>{{ each.address }}</td>
                        <td>{{ each.postalcode }}</td>
                        <td>{{ each.city }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elseif form.vars.submitted %}
      
        <p>Aucun vétérinaire trouvé pour l'activité sélectionnée.</p>
    {% endif %}

   
    <ul class="liens list-unstyled mt-3">
        <li>
            <a href="{{ path('app_veterinary_index') }}">   
                <i class="bi bi-chevron-left"></i>
                &nbsp;Retour à la liste
            </a>&nbsp;&nbsp;&nbsp;
        </li>
    </ul>
{% endblock %}
