{% extends 'base.html.twig' %}

{% block title %}Veterinary{% endblock %}
{% block body_id%}fiche{% endblock %}
{% block body %}
    <h1>Fiche détail vétérinaire {{ veterinary.id }}</h1>
 <div class="card">
  <img class="imageVeto" src="{{asset('/images/vetos/' ~ veterinary.imageFileName)}}">
    <div class="card-body">
      <h5 class="card-title">{{ veterinary.name }}</h5>
      <p class="card-text"><tr>
               
            <tr>
                <td>{{ veterinary.address }} <br></td>
            </tr>
            <tr>
                <td>{{ veterinary.postalCode }}</td>
            </tr>
            <tr>
                <td>{{ veterinary.city }} <br></td>
            </tr>
              <tr>
                <td>{{ veterinary.getCategory.getName}} <br></td>
            </tr>

            <tr>
                <td>Telephone: {{ veterinary.phonep }}</td>
            </tr>

             
            
            </p>
    </div>
    <table class="table">
        <tbody>
            
            <p class="card-text">
                <small class="text-body-secondary">
                    Créé le {{ veterinary.creationDate ? veterinary.creationDate|date('d/m/Y') : '' }}
                </small>
            </p>
            
        </tbody>
    </table>
</div>
    
    <a href="{{ path('app_veterinary_index') }}">Retour à la liste</a>

    <a href="{{ path('app_veterinary_edit', {'id': veterinary.id}) }}">Modifier</a>

    <a href="{{ path('app_veterinary_suivis', { id: veterinary.id }) }}">Voir les suivis</a>


    {{ include('veterinary/_delete_form.html.twig') }} 

{% endblock %}
