{% extends 'base.html.twig' %}

{% block title %}Goal{% endblock %}

{% block body %}
    <h1>Fiche objectif</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ goal.id }}</td>
            </tr>
             <tr>
                <th>Vétérinaire</th>
                <td>{{ goal.getVeterinary.getName }}</td>
            </tr>
             <tr>
                <th>Produit</th>
                <td>{{goal.getProduct.getName }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ goal.amount }} <i class="bi bi-currency-euro"></i></td>
                
            </tr>
        </tbody>
    </table>

   <a href="{{ path('app_goal_index') }}">
        <i class="bi bi-chevron-left"></i> &nbsp;Retour à la liste
    </a>

    <a href="{{ path('app_goal_edit', {'id': goal.id}) }}">Modifier</a>

    {{ include('goal/_delete_form.html.twig') }}
{% endblock %}
